@import (once) "common/eir-common";
@import (once) "common/eir-right";
@import (once) "common/eir-feed";
@import (once) "common/eir-login";
@import (once) "common/eir-placeholder";

@outer-border:#efefef;
@inside-border:#eeeeee;
@input-border:#efefef;
@button-border:#efefef;

.eir-tags{
    padding: 5px;
    border: 1px solid @button-border;
}
.eir-options{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 12px;
    a{
        text-decoration: none;
    }
}
.eir-comments-btn{
    width: 70px;
    border:1px solid @button-border;
}
.eir-home-right{
    margin-left: 20px;
}
