.eir-profile{
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #ccc;
    .eir-feed-pic{
        float: left;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .eir-feed-pic{
        float: left;
    }
    .eir-profile-name-group{
        float: left;
        padding: 5px;
        .eir-summary{
            color: #888;
        }
        span{
            display: block;
        }
    }
    .eir-feed-count-and-comments{
        padding: 5px 0px;
        .eir-feed-count{
            float: left;
            padding: 0px 20px;
            line-height: 45px;
            font-size: 14px;
            position: relative;
        }
        .eir-line-ver{
            float: left;
        }
        .eir-feed-comments-count{
            float: left;
            padding: 0px 10px;
            line-height: 45px;
            font-size: 14px;
        }
        eir{
            color: #ffb717;
            font-size: 30px;
        }
        .d{
            float: left;
            height: 45px;
            padding: 3px;
            display: inline-block;
        }
    }
}
.eir-mytags{
    margin-top: 10px;
    ul{
        cursor: pointer;
        border: 1px solid #ccc;
        li{
            line-height: 1.8em;
            background-color: #f4f4f4;
            border-bottom: 1px solid #ccc;
        }
        li:hover{
            line-height: 2.0em;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ccc;
        }
    }
    ul:last-child{
        border-bottom: 0px;
    }
}
